* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

 body {
   font-family: sans-serif;
   overflow: hidden;
   background: url("https://www.wallpaperflare.com/static/881/196/936/snow-landscape-forest-lake-wallpaper.jpg")
 }

 .scene,
 canvas {
  position: absolute;
  width: 100%;
  height: 100%;
 }


